[submodule "lvgl"]
	path = lvgl
	url = https://github.com/pellcorp/lvgl.git
	branch = g8.3.11
[submodule "lv_drivers"]
	path = lv_drivers
	url = https://github.com/pellcorp/lv_drivers.git
        branch = g8.3.0
[submodule "libhv"]
	path = libhv
	url = https://github.com/ithewei/libhv.git
[submodule "fmt"]
	path = fmt
	url = https://github.com/fmtlib/fmt.git
